tesuto-qti-importer-services/tesuto-qti-importer-core/src/main/resources/s3-static-resources/ASSESS/v1/competency_v1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="competency">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="identifier"/>
                <xs:element type="xs:string" name="namespace" />
                <xs:element type="xs:string" name="description"/>
                <xs:element name="competencyRefs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="competencyRef" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>